* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.pokemons li {
    display: block;
    /* Seus estilos aqui */
}
body {
    background-color: #020407;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #518bcd;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
.search-bar {
    background: linear-gradient(to right, #3498db, #e74c3c);
    border-radius: 25px;
    padding: 10px;
  }
  
  .search-bar input[type="text"] {
    border: none;
    outline: none;
    width: 200px;
    background-color: transparent;
    color: white;
  }
  